.chat {
	position: relative;
	width: 100%;
	height: 100%;
	opacity: 1;
}

.chatBackground {
	position: absolute;
	background: url("/assets/bg-chat.png");
	width: 100%;
	height: 100%;
	z-index: -1;
	opacity: 0.2;
}

.header {
	display: flex;
	align-items: center;
	gap: 0.8rem;
	background-color: #ededed;
	padding: 1rem;
	padding-right: 0rem;
	padding-left: 1.2rem;
	border-bottom: 1px solid lightgrey;
	width: 100%;
	z-index: 1;
}

.headerInfo {
	flex: 1;
	display: flex;
}

.headerRight {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.headerRightIcon {
	font-size: 2.4rem !important;
}

.bodyContainer {
	overflow-y: scroll;
	height: 82%;
	padding: 0 1rem;
}

.deleting {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}
