.chat {
	position: relative;
	width: 100%;
	height: 100%;
	opacity: 1;
	/*
	flex: 0.7;
	display: flex;
	flex-direction: column;
	position: absolute;
	right: 0;
	top: 0;
	background-color: #e5ddd5;
	transform: translateZ(456px);
    */
}

.chatBackground {
	position: absolute;
	/* background-image: url("https://web.whatsapp.com/img/bg-chat-tile-light_686b98c9fdffef3f63127759e2057750.png"); */
	background: url("../../../public/assets/bg-chat.png");
	/* background-color: pink; */
	/* background-size: contain; */
	/* background-position: top; */
	/*
    background: url("https://web.whatsapp.com/img/bg-chat-tile-light_686b98c9fdffef3f63127759e2057750.png")
		no-repeat center/cover;
    */
	width: 100%;
	height: 100%;
	z-index: -1;
	opacity: 0.2;
}

.header {
	display: flex;
	align-items: center;
	gap: 0.8rem;
	background-color: #ededed;
	padding: 1rem;
	padding-right: 0rem;
	padding-left: 1.2rem;
	border-bottom: 1px solid lightgrey;
	width: 100%;
	z-index: 1;
}

.headerInfo {
	flex: 1;
	display: flex;
	/*
	flex-direction: column;
	gap: 0.2rem;
    */
}

.headerRight {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.headerRightIcon {
	font-size: 2.4rem !important;
}

.bodyContainer {
	overflow-y: scroll;
	height: 82%;
	padding: 0 1rem;
}

.deleting {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}
