.sidebar {
	/* display: flex; */
	/*
    flex-direction: column;
	flex: 0.3;
    */
	/* width: 30%; */
	width: 100%;
	position: relative;
	background-color: white;
}

/*****************************/
/* SIDEBAR HEADER
/*****************************/

.header {
	display: flex;
	justify-content: space-between;
	padding: 0.8rem 1.2rem;
	background-color: #ededed;
}

.headerLeft {
	display: flex;
	gap: 0.8rem;
	align-items: center;
}

.name {
	font-size: 15px;
	font-weight: 500;
	/*
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
	max-width: 100%;
    */
}

.headerRight {
	display: flex;
	gap: 1.2rem;
}

.exitToAppIcon {
	font-size: 2.4rem !important;
}

@media screen and (min-width: 768px) {
	.sidebar {
		/* width: 30%; */
		max-width: 420px;
		min-height: 100vh;
	}
}

/*****************************/
/* SIDEBAR SEARCH
/*****************************/

.search {
	background-color: #f6f6f6;
	display: flex;
	align-items: center;
	padding: 0.8rem 1.2rem;
	border-right: 1px solid lightgrey;
}

.searchContainer {
	display: flex;
	align-items: center;
	background-color: white;
	width: 100%;
	height: 3.5rem;
	box-shadow: 0rem 0rem 8rem 0rem #00000016;
	border-radius: 2rem;
	padding-right: 1.3rem;
}

.searchIcon {
	color: grey;
	padding: 1rem;
	box-sizing: content-box;
}

.searchInput {
	font-family: Roboto;
	font-weight: 400;
	font-size: 1.4rem;
	width: 100%;
	border: none;
	outline: none;
}

/*****************************/
/* SIDEBAR MENU
/*****************************/

.menu {
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: #ededed;
	border-right: 1px solid lightgrey;
}

.menu > a,
.menu > div {
	flex: 1;
	display: grid;
	place-items: center;
	padding-top: 1.5rem;
	cursor: pointer;
}

.menu div {
	display: flex;
	flex-direction: column;
	align-items: center;
	width: 100%;
}

.menuIcon {
	fill: #0000008a !important;
	font-size: 1.8rem !important;
}

.menuLine {
	opacity: 0;
	width: 100%;
	height: 3px;
	background: #0000008a;
	margin-top: 5px;
}

.menuSelected > div > .menuLine {
	opacity: 1;
}

/*****************************/
/* SIDEBAR ADD-ROOM BUTTON
/*****************************/

.chatAddRoom {
	position: absolute;
	background-color: #06d755;
	width: 5rem;
	height: 5rem;
	border-radius: 50%;
	bottom: 2rem;
	right: 2rem;
	cursor: pointer;
	box-shadow: 4px 4px 20px 0px rgba(0, 0, 0, 0.281);
	display: flex;
	justify-content: center;
	align-items: center;
}

.chatAddRoomButton {
	width: 100%;
	height: 100%;
}

.addIcon {
	transform: scale(1.3);
	color: white;
}
