.audioPlayer {
	display: flex;
	align-items: center;
	justify-content: space-between;
	width: 100%;
	height: 4rem;
	gap: 1rem;
}

.icon {
	width: 2.4rem !important;
	height: 2.4rem !important;
	color: #a9a9a9 !important;
	cursor: pointer;
}

.sliderContainer {
	width: 100%;
	height: 1.5rem;
	display: flex;
	align-items: center;
	position: relative;
}

.slider {
	width: 100%;
	height: 0.5rem;
	background: #00000030;
	border-radius: 2.5px;
	z-index: 1;
}

.slider:focus {
	outline: none;
}

.sliderPlayed {
	background: #a9a9a9;
	height: 0.5rem;
	border-radius: 2.5px;
	border-top-right-radius: 0px;
	border-bottom-right-radius: 0px;
	position: absolute;
	left: 0;
	z-index: 2;
}

.slider::-webkit-slider-thumb {
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
	width: 15px;
	height: 15px;
	background: #a9a9a9;
	cursor: pointer;
	border-radius: 50%;
	border: none;
	position: relative;
	z-index: 5;
}

/*
  
  .audioplayer__slider::-webkit-slider-thumb:active {
    transform: scale(1.25);
  }
  
  .audioplayer__slider::-moz-range-thumb {
    width: 15px;
    height: 15px;
    background: #a9a9a9;
    cursor: pointer;
    border-radius: 50%;
    border: none;
  }
  
  .audioplayer__slider::-moz-range-thumb:active {
    transform: scale(1.25);
  }
  
  .audioplayer__alt .audioplayer__slider::-webkit-slider-thumb {
    background: #06d755;
  }
  
  .audioplayer__alt .audioplayer__slider::-moz-range-thumb {
    background: #06d755;
  }
  
  .audioplayer__alt .audioplayer__slider--played {
    background: #06d755;
  }
  
  .audioplayer__played .audioplayer__slider::-webkit-slider-thumb {
    background: #2ab5eb;
  }
  
  .audioplayer__played .audioplayer__slider::-moz-range-thumb {
    background: #2ab5eb;
  }
  
  .audioplayer__played .audioplayer__slider--played {
    background: #2ab5eb;
  }
  
  .audioplayer__time {
    margin-right: 10px;
    margin-left: 2px;
    min-width: 35px;
    display: inline-block;
    font-size: 14px !important;
  }
  
  .audioplayer .MuiCircularProgress-root {
    width: 25.39px !important;
    height: 24px !important;
    margin-right: 15px;
    color: #a9a9a9;
  }
  
  .audioplayer .MuiCircularProgress-root .MuiCircularProgress-svg {
    transform: scale(1.1);
    width: 25.375px;
    height: 25.375px;
  }
*/
